#customers-list {
    padding: 1em;
    background-color: white;
    border-radius: 25px;
    box-shadow: black 1px 2px 5px 0;
    display: flex;
    flex-direction: column;
}

.list-header {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 0;
}