.footer-container {
    background-color: #f0f0f0;
}

.upper-footer {
    max-width: 1300px;
    padding: 40px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.footer-title {
    font-size: 0.8725rem;
    font-weight: 600;
    color: #3f3933;
    margin-bottom: 100px;
}

.footer-column {
    flex: 1 1 250px;
    margin: 15px;
}
.footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    font-size: 0.8725rem;
    font-weight: 400;
    padding: 0;
    margin: 5px 0 0;
}

.footer-column ul li {
    margin-bottom: 4px;
}

.footer-column ul li a, .footer-column p a {
    color: #3f3933;
    text-decoration: none;
}

.footer-underneath span a {
    color: #666666;
    text-decoration: none;
}

.footer-column ul li a:hover, .footer-column p a:hover, .footer-underneath span a:hover {
    color: black;
}

.footer-column p {
    margin-top: 15px;
    font-size: 0.8725rem;
    font-weight: 400;
    color: #3f3933;
}

.brands {
    margin-top: 15px;
    margin-bottom: 20px;
}

.brands img {
    width: 70px;
    height: 42px;
    border-radius: 5px;
    box-shadow: black 1px 2px 5px 0;
}

.language {
    margin-top: 20px;
    font-size: 0.8725rem;
    font-weight: 400;
    color: #3f3933;
}

.language select {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
    margin-left: 2px;
    outline: none;
}

.footer-underneath {
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-between;
}

.footer-underneath span {
    color: #666666;
    margin: 10px;
    font-weight: 400;
    font-size: 0.75rem;
}